* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 1.1em;
}

body {
    background-color: black;
}


header {
    background-color: rgba(255, 255, 255, 0.226);
    padding: 10px;
    text-align: center;
}

header>h1 {
    font-size: 2.2em;
    color: white;

}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 50px 0 50px;
    gap: 50px;
}

/* CONTAINER Q ENGLOBA O MAPA, INDICE E INFO*/
#imagem-container{
    position: relative;
}

/* IMAGEM DO MAPA */
#mapa{
    border-radius: 20px;
}

area:focus{
    outline: 1px solid red;
}

/* INDICE DO MAPA */
#indice-mapa{
    position: absolute;
    z-index: 1;
    width: 180px;
    left: 0px;
    bottom: 5px;
}

/* INFORMAÇÃO */
#info {
    width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#info > h2{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 30px;
}

#info > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 50px;
}